@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  text-align: center;
}
.welcome {
  position: static;
  width: 90px;
  height: 28px;
}
.tool-button {
  width: 40px;
  height: 40px;
}
